<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/templates/styles.css">
    <title>Document</title>
</head>
<body>
    <form action="", method="POST">
        <div id="insertimage">Insert image here
            <div>
                <input type="file" id="image_form" name="file"
                accept="image/png, image/jpeg" enctype = 'multipart/form-data'>
            </div>
            <input type="submit" value="Submit">
        </div>
    </form>
    
</body>
</html>